* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--SideNavAdmin);
    padding: 6px 14px;
    z-index: 1;
    transition: all 0.5s ease;
}



.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}


.sidebar.open .logo-details #btn {
    text-align: center;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--SideNavAdmin);
}

.sidebar li a:hover {
    background: #fff;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    inset-inline-start: calc(100% + 15px);
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: var(--SideNavAdmin);
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--SideNavAdmin);
    width: 100%;
    height: 60px;
    line-height: 60px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    inset-inline-start: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
}

.sidebar.open~.home-section {
    inset-inline-start: 250px;
    width: calc(100% - 250px);
}

// rtl setting
[dir="rtl"].sidebar {
    left: auto;
    right: 0;
}

[dir="ltr"] #btn {
    right: 0;
}

[dir="rtl"] #btn {
    right: auto;
    left: 0;
}

[dir="rtl"] .tooltip {
    left: auto;
    right: calc(100% + 15px);
}

[dir="rtl"] .menu-arrow {
    margin-left: 0;
    margin-right: auto;
}

[dir="rtl"] .sub-menu {
    padding-left: 0;
    padding-right: 28px;
}

[dir="rtl"] .links_name {
    padding-left: 0;
    padding-right: 15px;
}

[dir="rtl"] .bx-menu,
[dir="rtl"] .bx-menu-alt-right {
    transform: translateY(-50%) rotate(180deg) !important;
}

[dir="rtl"] .logo_name,
[dir="rtl"] .links_name {
    text-align: right;
}

[dir="rtl"] .nav-scroll-container::-webkit-scrollbar {
    right: auto;
    left: 2px;
}

[dir="rtl"] .profile {
    right: 0;
}

[dir="ltr"] #log_out {
    right: 0;
}

[dir="rtl"] #log_out {
    left: 0;
    transform: translateY(-50%) rotate(180deg) !important;
}